{{#if editBookForm}}

  <div>
    <h4>Update the book {{book.title}} (by {{book.author}}):</h4>
    <form>
      <div class="form-group">
        <label for="title">Book Title:</label>
        {{input value=title id="title" placeholder=book.title}}
      </div>

      <div class="form-group">
        <label for="author">Book Author:</label>
        {{input value=author id="author" placeholder=book.author}}
      </div>

      <div class="form-group">
        <label for="genre">Genre:</label>
        {{input value=genre id="genre" placeholder=book.genre}}
      </div>

      <div class="form-group">
        <label for="summary">Description:</label>
        {{input value=summary id="summary" placeholder=book.summary}}
      </div>

      <div class="form-group">
        <label for="image">Please add URL:</label>
        {{input value=image id="image" placeholder=book.image}}
      </div>

      <div class="form-group">
        <label for="publisher">Publisher:</label>
        {{input value=publisher id="publisher" placeholder=book.publisher}}
      </div>

      <div class="form-group">
        <label for="year">Year:</label>
        {{input value=year id="year" placeholder=book.year}}
      </div>

      <button {{action 'edit' book}}>Save</button>
    </form>
  </div>

{{else}}

  <button {{action 'editBookForm'}}>Edit Book</button>

{{/if}}
