<div class="">
  <form class="" action="index.html" method="post">

    <div class="form-group">
      <label for="title">Book Title:</label>
      {{input value=title id="title" placeholder=book.title}}
    </div>

    <div class="form-group">
      <label for="author">Book Author:</label>
      {{input value=author id="author" placeholder=book.author}}
    </div>

    <div class="form-group">
      <label for="summary">Description:</label>
      {{input value=summary id="summary" placeholder=book.summary}}
    </div>

    <div class="form-group">
      <label for="summary">Description:</label>
      {{input value=summary id="summary" placeholder=book.summary}}
    </div>

    <div class="form-group">
      <label for="image">Please add URL:</label>
      {{input value=image id="image" placeholder=book.image}}
    </div>

  </form>
</div>
