<div id="book">

  {{#link-to 'index' class="btn-home2"}}HOME{{/link-to}}<br><br>


  <div class="row">
    <div class="col-md-3">
      <div><img class="book-tile img-responsive" src={{model.book.image}}></div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <div class="title">{{model.book.title}}</div>
      <div class="author">by {{model.book.author}}</div><br>
      <div>{{model.book.summary}}</div>
    </div>
  </div>

  {{new-review saveReview='saveReview' book=model.book}}<br><br><br><br>

  <div class="review-element">
    {{#each model.book.reviews as |review|}}
      <div >
        <div clas="star-rating">{{comment-rating review}}</div>
        <div class="content review-title">{{review.title}}</div><br>
        <div class="content">{{review.content}}</div>
        <div class="content review-author">by <span style="font-weight: bold">{{review.author}}</span></div>
      </div><br><br><br>
    {{/each}}
  </div>

</div>
