<div id="book">
  <div>{{model.book.title}}</div><br>
  <div>{{model.book.author}}</div><br>
  <div>{{model.book.summary}}</div><br>
  <div>{{model.book.publisher}}</div><br>

  {{new-review saveReview='saveReview' book=model.book}}<br><br>

  {{#each model.reviews as |review|}}
  <div>{{review.title}} by {{review.author}}</div>
  <div>{{review.content}}</div><br><br>
  {{/each}}
</div>
