<div id="book">

  <div class="divTable">
    <div class="Row">
      <div class="Column"><img class="img" src={{model.book.image}}></div>
      <div class="Column">
        <div><span>{{model.book.title}}</span></div>
        <div id="book-rating">{{book-rating book=model.book}}</div>
        <div>by {{model.book.author}}</div>
        <div>{{model.book.summary}}</div>
        <div>{{model.book.year}}</div>
      </div>
    </div>
  </div>

  {{new-review saveReview='saveReview' book=model.book}}<br><br>

  {{#each model.reviews as |review|}}
  <div>{{comment-rating review}}
    {{review.title}} by {{review.author}}</div>
  <div>{{review.content}}</div><br><br>
  {{/each}}
</div>
